.post {
  @apply transform overflow-hidden rounded-xl shadow-lg transition-transform duration-500;

  &:hover {
    @apply -translate-y-3;
  }

  &-image {
    img {
      @apply transform transition-transform duration-300;
    }

    &:hover {
      img {
        @apply scale-110;
      }
    }
  }
}