.header {
  @apply absolute top-0 z-10 w-full bg-transparent;
}

.animate-scroll {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: scroll;
  animation-timing-function: ease-out;
  border-radius: 20px;
}

@keyframes scroll {
  0% {
    scale: 0;
    opacity: 0;
  }

  20% {
    scale: 1;
    opacity: 1;
  }

  40% {
    transform: translateY(0);
  }

  80% {
    scale: 1;
    opacity: 1;
  }

  100% {
    scale: 0;
    opacity: 0;
    transform: translateY(5px);
  }
}