@use '~tailwindcss/base';
@use '~tailwindcss/components';
@use '~tailwindcss/utilities';

@use 'partials/header';
@use 'partials/vendor';
@use 'partials/utils';
@use 'partials/components' as components2;

html {
  text-rendering: optimizeLegibility;
}

body {
  @apply bg-gradient-to-r from-[#F5F7FB] to-[#E9EDF5] dark:from-[#0B1020] dark:to-[#0B0E13] text-[#0F1115] dark:text-[#F7F8FA] font-sans antialiased text-base leading-relaxed tracking-normal;
  overflow-x: hidden;
}

@screen md {
  body {
    @apply text-lg leading-7;
  }
}

@screen lg {
  body {
    @apply text-xl;
  }
}

.hero {
  @apply h-dvh;
}

.container {
  @apply mx-auto max-w-xl px-6 md:max-w-4xl lg:max-w-6xl;
}

.slick-prev:before,
.slick-next:before {
  @apply text-gray-300;
}

.slick-dots {
  li {
    @apply m-0;

    button:before {
      @apply text-xs dark:text-gray-400;
    }

    &:hover button:before {
      @apply text-gray-400;
    }
  }

  li.slick-active {
    button:before {
      @apply text-primary-500;
    }
  }
}

img {
  // increase brightness on hover
  @apply hover:contrast-[1.1] hover:brightness-[1.05] transition duration-300;
}