@use '~tailwindcss/base';
@use '~tailwindcss/components';
@use '~tailwindcss/utilities';

@use 'partials/fonts';
@use 'partials/header';
@use 'partials/vendor';
@use 'partials/utils';
@use 'partials/components' as components2;

body {
  @apply bg-gray-100 text-gray-700 dark:bg-gray-900 dark:text-gray-100;
  overflow-x: hidden;
}

.hero {
  @apply h-dvh;
}

.container {
  @apply mx-auto max-w-xl px-6 md:max-w-4xl lg:max-w-6xl;
}

.slick-prev:before,
.slick-next:before {
  @apply text-gray-300;
}

.slick-dots {
  li {
    @apply m-0;

    button:before {
      @apply text-xs dark:text-gray-400;
    }

    &:hover button:before {
      @apply text-gray-400;
    }
  }

  li.slick-active {
    button:before {
      @apply text-primary-500;
    }
  }
}

img {
  // increase brightness on hover
  @apply hover:contrast-[1.1] hover:brightness-[1.05] transition duration-300;
}